<ion-header>
  <ion-navbar>
    <ion-title>Welcome</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to My app!</h2>
  <p>
    This project shows the most popular filmes in The Movie Database.
  </p>
  <p>
    Vá para a aba filmes e veja os filmes!
  </p>
</ion-content>
