<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Filmes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let filme of listaFilmes">

    <ion-item>
      <h2 class="feed-name">{{ filme.original_title }}</h2>
      <p>{{ filme.release_date}}</p>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path">

    <!-- <ion-card-content>
      <p>{{ filme.overview }}</p>
    </ion-card-content> -->

  </ion-card>
</ion-content>