<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-slides pager>

    <ion-slide class="image">
      <img src="../../assets/imgs/ica-slidebox-img-1.png">
      <h2>Meu app</h2>
      <p>
        ta rodando
      </p>
    </ion-slide>

    <ion-slide class="image">
      <img src="../../assets/imgs/ica-slidebox-img-2.png">
      <h2>Vai rodando</h2>
      <p>
        e vai girando!
      </p>
    </ion-slide>

    <ion-slide class="image">
      <img src="../../assets/imgs/ica-slidebox-img-3.png">
      <h2>Pronto?</h2>
      <p>
        <a (click)="goToTabsPage()" >Continuar</a>
      </p>
    </ion-slide>

  </ion-slides>
</ion-content>